h1 {
  text-align: center; 
}

body {
  padding: 0px; 
  margin: 0px; 
  font-family: 'Acme', sans-serif;
  background-color: #ffeeee

}

.text-area {
  border-left: 5px solid #d81150; 
    border-top: 0px none white; 
    border-bottom: 0px none white; 

    border-right: 0px none white; 
    box-sizing: border-box;

    color: black; 
    cursor: text;

    overflow: hidden;
    padding: 2px 5px;
    margin: 0; 
    width:100%;
    outline: none; 
    background-color: #EEEEEE;
    resize: none; 

    white-space: pre-wrap;
    word-wrap: break-word;


}

.text-area:focus {
  border-left: 5px solid #2f3cb8;
  transition: .5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s; 
}

.text-area:empty:before {
  color: #888888;
  content: attr(placeholder);
  display: block; /* For Firefox */
}


.card-set-title {
  font-size: 30px;
  margin-bottom: 10px;  

}

.text:empty:before {
  color: #888888;
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.text:focus {
  border-left: 5px solid #2f3cb8;
  transition: .5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.term {
  cursor: text;
  display: inline-table;
  position: relative;
  word-break: break-word; 
  padding-right: 0.75rem;
  box-sizing: border-box; 
  padding-top: 0.25rem;

  padding-bottom: 0.25rem;


  width: 50%;
}

.definition {
  cursor: text;
  display: inline-table;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  position: relative;
  word-break: break-word; 
  padding-left: 0.75rem;
  box-sizing: border-box; 

  width: 50%; 

}

.card-content {
  padding: 20px; 
  width: 90%;
  box-sizing: border-box; 
  position: relative;
  display: inline-table;



}

.card {
  padding: 10px;
  margin-bottom: 10px; 
  background-color: #ffffff;
  border-radius: 5px; 
  border-top: 10px solid black; 
  
}

.card-counter {
  width: 10%; 
  box-sizing: border-box; 
  position: relative;
  display: inline-table;

}



.card-set {


}


.add-row-button {
  background-color: #dddddd; 
  height: 50px; 
  text-align: center; 
  cursor: pointer; 


}

.finish-button {
  background-color: #dddddd; 
  height: 50px; 
  text-align: center; 
  cursor: pointer; 
  margin-top: 10px; 
  display: block; 
  color: black; 
  text-decoration: none; 
  
}

.finish-button:visited {
  color: black;
}

/************** Header CSS *********************/

.header-bar {
  background-color: #ffe0fc;
  width: 100%; 
}

.heading {
  background-color: #d81150
}

.title-bar {
  padding:10px; 
}

.header-button {
  display: inline-block; 
  padding : 10px; 

}
.header-button:hover {
  background-color: #DDDDEE; 
  transition: .5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  }
.search-bar {
  display : inline-block; 
  
}

.main-panel {
  margin-top: 10px; 
  width: 60%;
  margin: auto; 
}

.title {
  font-size: 30px; 
  color: white; 
}
.subtitle {
  color: white; 
}



/******Card Set Page*********/

.flash-term {
  color: black;
  text-align: center; 
  width: 80%; 
  height: 60px; 
  margin: 0 auto; 
  font-size: 36px; 

}

.flash-definition {
  color: red;
  background-color: white; 
  height: 100px; 
  font-size: 20px; 

  
}

.flash-card {
  background-color: #ffffff; 
  margin: 10px; 
  border-color: black; 
  border-style: solid; 
  border-width: 3px; 
}

.work-panel {
  background-color: blue; 
  height: 80vh; 
  margin: auto;
  padding: 10px;
  
}

.flash-cards-panel-container {
  width: 50%; 
  background-color: yellow; 
  height: 600px; 
  float: left;

  

}

.flash-cards-panel {
  
}




.side-panel-container {
  background-color: purple; 
  width: 50%; 
  height: 600px; 
  float: left; 
  box-sizing: border-box; 


}
/********************   Formatting ********************/

.card-set-info-box {
  padding: 20px 0px; 
}